.canv-div {
  width: 90px;
  height: 157px;
  border: solid #2EE59D;
}

.canv-div canvas {
  width: unset !important;
  height: unset !important;
}

h5 {
  font-size: 16px;
  margin: 0;
  width: 90px;
  padding: 3px;
  text-align: center;
  background: #97cab547;
  margin-bottom: 0;
}

.canv-comp {
  margin: 15px;
}
