

.lojban-character {
  margin-right: 15px;
  display: inline-block;
  width: 40px;
  height: 40px;
}

.lojban-character-container {
  margin-top: 3px;
  margin-bottom: 3px;
}

.lojban-grid .ReactVirtualized__Grid__innerScrollContainer {
  display: flex !important;
  overflow: initial !important;
}